/* style.css */
body {
    background-color:#a29896;
      font-family: Arial, sans-serif;
      padding: 20px;
      text-align: center;
  }
  
  #cartItems {
      margin: 20px 0;
  }
  
  .cart-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;
  }
  
  #cartSummary {
      margin-top: 20px;
      font-size: 18px;
  }
  .btn{
    background-color:green;
  }