body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 text-align:left;
background-image:url('https://i.ibb.co/bzfzWpt/Ecommerse-bg-img.jpg');
background-size:cover;
}
header {
    background-color: #333;
  background-image:linear-gradient( 
        to right, #9acd32, #ffeb3b, #006400);
    color: #fff;
    padding: 10px 20px;
  display:flex;
  flex-direction:row;
    justify-content:space-between;
}
header nav ul {
    list-style: none;
    padding: 30px;
    margin: 0;
    display: flex;
  flex-direction:row;
    justify-content: center;
}
header nav ul li {
    margin: 0 10px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
.container {
    padding: 20px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content: center;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin: 10px;
}
.product-card img {
    width: 10vw;
    height: 20vh;
}
.product-details img {
    width: 300px;
    height: auto;
}
.button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.hidden {
    display: none;
}
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}